apiVersion: apps/v1
kind: Deployment
metadata:
  name: aline-admin-portal
  namespace: microservices-system  # Specify the namespace here
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aline-admin-portal
  template:
    metadata:
      labels:
        app: aline-admin-portal
    spec:
      containers:
      - name: aline-admin-portal
        image: 1abdulrehman/microservicesproject:admin-service
        ports:
        - containerPort: 3007
        env:
        - name: EXTEND_ESLINT
          value: "true"
        - name: REACT_APP_API_BASEURL
          value: "http://aline-gateway:8080"
        - name: REACT_APP_TOKEN_NAME
          value: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c2"
        - name: REACT_APP_BROKER_URL
          value: "http://admin-portal:3007" 
